@media screen and (min-width:0px) {
    /*基本スマホ用*/
    body{
        background-color:#33ffdd;
    }
    #su{
        width: 200px;
        font-size: 20px;
        margin: 10px;
        /*入力するとこ*/
    }
    #b{
        border-radius:40px;
        background-color: yellow;
        font-size: 15px;
        color: black;

        /*ボタン*/
    }
    div{
        font-size: 150px;
        text-align: center;
        color: #ff22aa;
        /*数字出るとこ*/
    }
}

@media screen and (min-width:1024px){
    /*パソコン用*/
}